<section class="pt-4 pt-md-11 bg-dark" id="intro">
    <div class="container text-center">
        <div class="row align-items-center">
          <div id="absoluteCol" class="col-12 col-md-5 col-lg-5 order-md-2">
    
            <!-- Image -->
            <img id="myImage" src="{{imageSouce}}" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" alt="..." data-aos="fade-up" data-aos-delay="100">
    
          </div>
          <div class="col-12 col-md-7 order-md-1 aos-init aos-animate" data-aos="fade-up">
    
            <!-- Heading -->
            <h1 class="display-4 text-white text-center text-md-start">
              Welcome to <span class="text-personal">{{Name}}.</span> <br>
              {{title}}
            </h1>
    
            <!-- Buttons -->
            <div class="text-center pt-4">
              <a routerLink="/our-programs" class="btn shadow lift me-1" style="background-color: orangered;">
                Transform Now !
              </a>
            </div>
          </div>
        </div> <!-- / .row -->
        <hr>
        <div class="row align-items-center">
          <div id="absoluteCol" class="col-12 col-md-5 col-lg-5 order-md-1">
    
            <!-- Image -->
            <img src="https://media.giphy.com/media/VUDWelveo5VGo/giphy.gif" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate rounded-circle" alt="..." data-aos="fade-up" data-aos-delay="100">
    
          </div>
          <div class="col-12 col-md-7 order-md-1 aos-init aos-animate" data-aos="fade-up">
    
            <!-- Heading -->
            <h1 class="display-4 text-white text-center text-md-start">
              We <span class="text-personal">Transform</span>  People.
            </h1>
          </div>
        </div> <!-- / .row -->
    </div>
</section>