<section class="bg-dark pt-4 pb-4">
    <div class="container text-light">
        <h1 class="text-center text-personal">What We Can Provide ?</h1>
        <div class="row text-center align-items-center pt-4 pb-4">
            <div class="col-12 col-md-5 col-lg-5 input">
                <img src="/assets/img/food1.png" alt="image-1" width="50%">
            </div>
            <div class="col">
                <h3 class="text-personal">Meal plan based on your goal</h3>
                <p class="text-secondary">Mealplan is adjusted by your preferences and restrictions. Recipes are easy-to-follow, you can eat whatever you want and get better shape</p>
            </div>
        </div>
        <hr>
        <div class="row text-center align-items-center" id="shaping2">
            <div class="col-12 col-md-5 col-lg-5 order-2">
                <img src="/assets/img/guide1.png" alt="image-2" style="width: 50%;">
            </div>
            <div class="col" >
                <h3 class="text-personal">Habit building system</h3>
                <p class="text-secondary">Improve not only physique but also develop healthy habits and fortitude. With MadMuscles you can reduce your level of stress, improve your sex drive and try different life-changing challenges.</p>
            </div>
        </div>
    </div>
</section>
