<section class="bg-dark pt-4 pb-4">
    <div class="container text-light">
        <h1 class="text-center text-personal">Our Programs</h1>
        <p class="text-center text-secondary">Build Your Perfect Body</p>
        <div class="row text-center align-items-center" id="shaping1">
            <div class="col-12 col-md-5 col-lg-5 input">
                <img src="/assets/img/image-1.png" alt="image-1" style="width: 30%;">
            </div>
            <div class="col">
                <h3>Shape Number <strong>One</strong></h3>
                <span class="text-secondary">Goku Shape</span>
                <p>Shred Your Body Like Goku</p>
                <button class="btn btn-personal mb-4"> Start Transformation !</button>
            </div>
        </div>
        <hr>
        <div class="row text-center align-items-center" id="shaping2">
            <div class="col-12 col-md-5 col-lg-5 order-2">
                <img src="/assets/img/image-22.png" alt="image-2" style="width: 30%;">
            </div>
            <div class="col" >
                <h3>Shape Number <strong>Two</strong></h3>
                <span class="text-secondary">Vegeta Shape</span>
                <p>Shred Your Body Like Vegeta</p>
                <button class="btn btn-personal mb-4"> Start Transformation !</button>
            </div>
        </div>
    </div>
</section>
